<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<!--Script to enable WebPutty editor: cf. http://webputty.net -->
<link rel="stylesheet" type="text/css" href="http://www.webputty.net/css/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRimhhgM" />
<script type="text/javascript">(function(w,d){if(w.location!=w.parent.location||w.location.search.indexOf('__preview_css__')>-1){var t=d.createElement('script');t.type='text/javascript';t.async=true;t.src='http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRimhhgM';(d.body||d.documentElement).appendChild(t);}})(window,document);</script>
<!--My custom meta tags -->
<meta name="description" content="This is the personal blog of John F. Mercer, web developer. My blog is for professional Web designers and developers with focus on valuable techniques, best practices and useful resources for the web design and web development community."/>
<meta name="keywords" content="web design, web development, HTML5, CSS3, JavaScript, UX, typography, and content strategy"/>
<link rel="dns-prefetch" href="//cdn.johnmercer.org" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
